<div class="ictech-account-carts__modal" hidden data-ictech-view-items-modal>
    <div class="ictech-account-carts__modal-dialog ictech-account-carts__modal-dialog--items">
        <div class="ictech-account-carts__modal-header">
            <h3 data-ictech-modal-title></h3>
            <button type="button" class="ictech-account-carts__modal-close" data-ictech-modal-close aria-label="Close">×</button>
        </div>
        <div class="ictech-account-carts__modal-body">
            <div data-ictech-items-list></div>
        </div>
    </div>
</div>
